.layout{
    position: relative;
    left: 50%;
    margin-left: -400px;
    width: 800px;
    height: 100%;
    border: none;
}
.barra{
    background: #0061a7;
    width: 800px;
    height: 50px;
    border-bottom: 3px solid #06184e;
}
.logo{
    float: left;
    width: 400px;
    height: 50px;
    text-align: left;
}
#logo{
    height: 50px;
    width: 140px;
}
.logout{
    margin-left: 400px;
    width: 400px;
    height: 50px;
    text-align: right;
}
#logout{
    height: 50px;
    width: 50px;
}
.left{
    float: left;
    width: 190px;
    height: 100%;
    
    text-align: center;
    
}
#menu ul{
    margin: 0px;
    padding: 0px;
    background: #ff9900;
    width: 190px;
    
    list-style: none;
}
#menu ul li{
    height: 24px;
}
#menu ul li a{
    display: block;
    background: #ff9900;
    color: #fff;
    font-family: arial;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 2px solid #ff6600;
}
#menu ul li a:hover{
    background: #0061a7;
}
.right{
    margin-left: 190px;
    width: 610px;
    height: 100%;
}
iframe{
    position: absolute;
    width: 610px;
    height: 100%;
    border: none;
}