.layout{
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    height:1500px;
    width: 320px;
    margin-left: -160px;
}
.top{
    height: 150px;
    width: 320px;
    border:none;
}
img{
    height: 150px;
    width: 300px;
}
.logo{
    padding-top: 10px;
    height: 150px;
    width: 320px;
    text-align: center;
}.drop{
    height: 30px;
}
.mid{
    margin-top: 20px;
    height: 2250px;
    width: 320px;
    /*background: #ff9900;*/
}


iframe{
    float: none;
    height: 100%;
    width: 100%;
    border: none;
}
.img{
    width: 300px;
    height: 150px;
    box-shadow: 2px 3px 10px 0px #000;
}

.bottom{
    margin-bottom: 30px;
    margin-top: 20px;
    height: 100px;
    width: 320px;
    background: #0061a7;
    border: 2px solid #12477c;
    text-align: center;
}
.bottom p{
    margin-top: 50px;
    font-family: arial;
    font-size: 10px;
    color: white;
}
